<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DurakGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DurakGame.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>InvalidPath</value>
            </setting>
            <setting name="GamePlayers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GameDeckSize" serializeAs="String">
                <value>Durak36Deck</value>
            </setting>
            <setting name="SelectedCardBack" serializeAs="String">
                <value>0</value>
            </setting>
        </DurakGame.Properties.Settings>
    </userSettings>
</configuration>